{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <p class="title">Just Do It!</p>
        <div class="detail_todo">
            title : {{detail.title}}<br />
            content: {{detail.content}} <br /></br>
        <button>delete</button>
        <a href="{% url 'index' %}">back</a>
        </div>
        <br />
        <script src="{% static 'js/todo.js' %}"></script>
    </body>
</html>
