.setTodo {
    margin-left: 500px;
    margin-top: 50px;
    display: inline-block;
    padding: 10px;
    border: 2px solid #2c3e50;
}

.detail_todo {
    margin-left: 750px;
    margin-top: 50px;
    display: inline-block;
    padding: 10px;
    border: 2px solid #2c3e50;
}
.todoLsit {
    position: relative;
    /* display: inline-block; */
    left: 850px;
    bottom: 220px;
}
.title {
    font-size: 50px;
    margin-left: 700px;
}

input {
    background: none;
    appearance: none;
    border: 0;
    font-size: 15px;
    color: #2c3e50;
    border-bottom: 3px solid black;
}
